#splash {
  height: 60vh;
  left: 0;
  Position: absolute;
  width: 100vw;
  z-index: -99;
}

#logo {
  height: 100px;
  width: auto;
  z-index: 99999;
  position: absolute;
  left: 20px;
}

.forside-link {
  text-decoration: none;
}

.fa-caret-down {
  color: black;
  opacity: 20%;
}

body,
html {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100px;
}

.top_navbar {
  height: 50px;
  width: 100vw;
  overflow: hidden;
  background-color: #EAEDEA;
  z-index: 3;
}

.btm_navbar {
  height: 50px;
  width: 100vw;
  overflow: hidden;
  background-color: white;
  z-index: 3;
}

.btm_navbar a {
  float: right;
  font-size: 13px;
  color: black;
  text-align: center;
  padding-left: 5px;
  padding-right: 20px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: white;
  font-family: inherit;
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 25px;
}

.btm_navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #f9f9f9;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #EAEDEA;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}